.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 10fr 1fr;
}

#navbar {
  grid-column: 1/6;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row: 2/4;

}

#title {
  grid-column: 2/6;
}


#content {
  grid-column: 2/6;
}

#footer {
  grid-row: 4;
  grid-column: 1/6;
}
